.banner_main-svg {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.banner_main-svg-prev {
  cursor: pointer;
  left: 30px;
  transform: translateY(-350%) translateX(90%);
}

.banner_main-svg-next {
  cursor: pointer;
  display: flex;
  right: 0;
  transform: translateY(400%) translateX(-100%);
}
