@import "../../../../assets/styles/style";

.delivery-to-user-content {
  @media screen and (min-width: $desktop) {
    .delivery-to-user {
      max-width: 400px;
      margin: 100px auto 0;
      border-radius: 3px;

      &-btn-visible {
        background: $secondary-color-blue;
        font: 500 15px / 1.5 "Inter", sans-serif;
        color: $primary-color-black;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        span {
          padding: 15px 0;
          font-size: 20px;
        }

        svg {
          width: 20px;
          transition: transform 0.2s ease-in-out;
        }
      }

      .delivery-to-user-btn-toggle {
        margin-left: auto; // add
        height: 0px;
        font-size: 18px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out,
        height 0.3s 0.3s ease-in-out;
        color: #333;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }

      .animated {
        opacity: 1;
        transition: height 0.3s ease-in-out,
        opacity 0.3s 0.3s ease-in-out;
      }

      .delivery-to-user-btn-toggle p {
        margin: 0;
        padding: 22px 15px;
        pointer-events: none;
        line-height: 1.3;
      }


    }
  }
}