//Button {
//background-color: $secondary-color-purple;
//border-radius: 8px;
//width: 234px;
//height: 40px;
//}

.btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}