@import "../../../assets/styles/style.scss";

.header {
    width: 100%;
    height: 56px;
    padding: 8px 16px;
    background-color: $primary-color-gray;
    .header__logo,
    .header__link-comparing,
    .header__link-favorites,
    .header__link-users {
        display: none;
    }

    @media (min-width: $tablet) {
        .header__logo,
        .header__link-comparing,
        .header__link-favorites,
        .header__link-users {
            display: flex;
        }

        background-color: red;
       
    }

    @media (min-width: $desktop) {
        height: 88px;
        background-color: green;
       
    }

    @media (min-width: $desktopFull) {
        background-color: blue;
       
    }
    
}

.header__content-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;


}




.header__logo {
    @include logo;
}

.header__menu {
    display: none;
}

.open {
    display: block;
}

.header__search-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-end;
    border: 1px solid;
    border-radius: 10px;
    padding: 0px 12px 0px 8px;
    height: 40px;

    @media (min-width: $tablet) {
        width: 323px;
       
    }

    @media (min-width: $desktop) {
        width: 712px;
        height: 48px;
       
    }
}

.search-icon {
    display: none;

    @media (min-width: $tablet) {
        display: inline-block;
       
    }
}

.header__menu-mobile {
    position: fixed;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 20px;

    
        
}

.header__menu-mobile_close-button {
    position: fixed;
    top: 0;
    left: 20%;
}

.mobile {
    
    .burger-icon,
    .header__search-container,
    .header__menu
    
    {
        display: none;}
    .header__logo {
        display: flex;
        @include logo;
    }
    .header__link-comparing {
        display: flex;
        order: 3;
    }

    .header__link-favorites {
        display: flex;
        order: 4;
    }
    .header__link-cart {
        display: flex;
        order: 2;
    }

    .header__link-users {
        display: flex;
        order: 1;
    }
    
}