@import "../../../assets/styles/style.scss";

.header {
  background-color: white;
  width: 100%;
  height: 56px;
  padding: 8px 16px;
  //background-color: $primary-color-gray;
  .header__logo,
  .header__link-comparing,
  .header__link-favorites,
  .header__link-users {
    display: none;
  }

  @media (min-width: $tablet) {
    height: 64px;
    padding: 0px 16px;

    .header__logo,
    .header__link-comparing,
    .header__link-favorites,
    .header__link-users {
      display: flex;
    }

    .header__logo svg {
      @include logo;
      width: 100%;
    }
  }

  @media (min-width: $desktop) {
    //position: fixed;
   position: sticky;
    top:0;
    height: 88px;
    z-index: 1000;
  }
}

.header__content-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

.header__menu {
  display: none;
}

.open {
  display: block;
}

.header__search-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
  height: 40px;
  font: 400 16px / 1.5 "Inter", sans-serif;
  color: rgba(160, 160, 160, 0.56);

  @media (min-width: $tablet) {
    width: 323px;
    justify-content: right;
  }

  @media (min-width: $desktop) {
    width: 712px;
    height: 40px;
    display: flex;
  }

}
.header__search-input  {
  font: 400 16px / 1.5 "Inter", sans-serif;
  color: $secondary-color-grey;
  width: 100%;
  margin-left: 16px;
}

.search-icon {
  display: none;

  @media (min-width: $tablet) {
    display: inline-block;
    border-radius: 0 10px 10px 0;
    width: 40px;
    height: 40px;
    background: #a3adff;
  }
}

.cart-activator{
  display: flex;
}

.counter-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__link-users span {
  margin-left: 5px;
}

// .header__menu-mobile {
//   position: fixed;
//   top: 10%;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background: white;
//   display: flex;
//   flex-direction: column;
//   padding: 20px;
// }

// .header__menu-mobile_close-button {
//   position: fixed;
//   top: 0;
//   left: 20%;
// }

// .mobile {
//   .burger-icon,
//   .header__search-container,
//   .header__menu {
//     display: none;
//   }
//   .header__logo {
//     display: flex;
//     @include logo;
//   }
//   .header__link-comparing {
//     display: flex;
//     order: 3;
//   }

//   .header__link-favorites {
//     display: flex;
//     order: 4;
//   }
//   .header__link-cart {
//     display: flex;
//     order: 2;
//   }

//   .header__link-users {
//     display: flex;
//     order: 1;
//   }
// }
