@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

header {
  display: flex;
  width: 50%;
  justify-content: space-between;
  background-color: $primary-color-gray;
}

.logo {
  @include logo;
}

.menu {
  display: none;
}

.open {
  display: block;
}
