

.banner_main {
  margin: 24px 0;

  .banner_main-slider-item {

  padding: 8px 17px;

  &-1 {

    background: #c2adfa;
  }
  &-2 {
    background: linear-gradient(117.07deg, #A2ACFF 0%, #CAADF9 99.79%);
  }
  &-3 {
    background: linear-gradient(117.07deg, #A2ACFF 0%, #CAADF9 99.79%);
  }
}
  .banner_main-title {
    padding: 16px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
  }
  .banner_main-descr {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    opacity: 0.9;
  }
  .banner_main-img-container {

    padding-top: 16px;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner_main-img{
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .banner_main-price {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
  }

  .banner_main-old-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: line-through;
    color: #fff;
    opacity: 0.56;
    margin-right: 8px;
  }
  .banner_main-new-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #8119b1;
  }
  .banner_main-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 8px;
  }

}