.banner_main {

  .banner_main-slider-item {
  &-1 {
    background: linear-gradient(117.07deg, #A2ACFF 0%, #CAADF9 99.79%);
  }
  &-2 {
    background: linear-gradient(117.07deg, #A2ACFF 0%, #CAADF9 99.79%);
  }
  &-3 {
    background: linear-gradient(117.07deg, #A2ACFF 0%, #CAADF9 99.79%);
  }
}
  .banner_main-title {

  }
  .banner_main-descr {

  }
  .banner_main-img {

  }
  .banner_main-old-price {

  }
  .banner_main-new-price {

  }
  .banner_main-text {

  }

}