.catalog {
  position: relative;
  width: 100%;
  padding: 8px 16px;
  &__head-line {
    @include flex-container(column, space-between, flex-start, nowrap);
    margin-bottom: 16px;

    &__breadcrumb {
      font-size: 12px;
      margin-bottom: 4px;
    }
    &__title {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 11px;
    }
    &__container{
      width: 100%;
      @include flex-container(row, space-between, center, nowrap);
      gap: 8px;
    }
    &__filter-btn {
      @include flex-container(row, space-around, center, nowrap);
      width: 50%;
      height: 38px;
      padding: 8px 16px;
      border-radius: 10px;
      background-color: $secondary-color-blue-light;
      font-size: 14px;
      color: $secondary-color-white;
      user-select: none;
      cursor: pointer;

      &__count {
        text-align: center;
        padding-top: 1px;
        height: 20px;
        min-width: 20px;
        border-radius: 10px;
        background-color: $secondary-color-white;
        color: #000000;
      }
    }
  }
}
