.filter {
    background-color: rgb(233, 218, 230);
    min-height: 20px;
    width: 20%;

    display: none;

    &__submit {
        background-color: rgb(149, 187, 223);
        padding: 5px;
    }
}
