.product-details__tabs-active {
    position: relative;
    color: $primary-color-blue;
   /*  &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
       
        
        background-color: black;
    } */
}