@import "../../../../../assets/styles/variables";

.popular_category {
  @media (min-width: $mobile) {
    margin-top: 30px;
    margin-bottom: 40px;

    &-title {
      padding: 0 16px;
      font: 500 18px / 1.5 "Inter", sans-serif;
      color: $primary-color-black;
    }

    &-btn {
      display: flex;
      flex-direction: column;
      margin-top: 32px;
      margin-bottom: 16px;
      gap: 16px;
      align-items: center;

      &-smartpnones,
      &-components,
      &-tablets,
      &-others {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px solid $secondary-color-purple;
        border-radius: 5px;
        padding: 12px 32px;
        width: 288px;
        height: 40px;

        .btn-text {
          color: $secondary-color-purple;
        }

        .btn-svg {
          padding-left: 10px;
        }
      }
    }
  }

  @media (min-width: $tablet) {
    font-size: 20px;

    &-btn {
      display: none;
    }

    .popular_category-items {
      padding: 16px;
      width: 768px;
      height: 568px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;

      .popular_category-item {
        border-radius: 10px;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
        padding: 24px 8px 16px;
        box-sizing: border-box;
        cursor: pointer;
        border: 1.8px solid $secondary-color-purple-light;

        .popular_category-item-img {
          padding-top: 16px;
          margin: 0 auto;
        }

        .popular_category-title {
          padding-top: 24px;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
  @media (min-width: $desktop) {
    .popular_category-items {
      display: none;
    }

    .popular_category-items-carousel {
      display: inline-block;
      width: 100%;
      position: relative;
    }

    .popular_category-container {
      display: flex;
      justify-content: flex-end;
      margin-right: 35px;
    }

    .popular_category-title {
      font: 400 20px / 1.5 "Inter", sans-serif;
      color: $primary-color-black;
    }

    .especially_arrow-svg-container-prev {
      display: flex;
      flex-direction: row;
      width: 80px;
      height: 32px;
      position: absolute;
      right: -60px;
      top: 0px;
      cursor: pointer;
    }
    .popular_category-product-cont {
      margin-right: 10px;
    }

    .popular_category-items-carousel [class^="popular_category-slider-item-"] {
      //width: 224px;
      //height: 224px;
      display: flex;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
      padding: 14px 8px 16px;
      box-sizing: border-box;
      cursor: pointer;
      border: 1.8px solid $secondary-color-purple-light;
    }

    .popular_category-items-carousel [class^="popular_category-slider-item-"] img {
      width: 110px;
      height: auto;
    }


    .popular_category-title-des {
      text-align: center;
      font: 500 16px / 1.5 "Inter", sans-serif;
      color: $primary-color-black;
    }
    .popular_category-product-cont .slick-slide {
      padding: 0 10px;
    }
  }
}





