// Загальні БЕМ блоки та інше...

.primary-btn {
  background-color: $secondary-color-purple;
  color: #fff;
  font-size: 1.6rem;
  padding: 1.2rem 8rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.primary-btn:disabled {
  opacity: 0.5;
}
