/** COLORS **/

// Primary colors

$primary-color-blue: #A3ADFF;
$primary-color-black: #333333;
$primary-color-gray: #F8F8F8;

// Secondary colors

$secondary-color-red: #FF4343;
$secondary-color-purple: #8119B1;
$secondary-color-blue: #C3CAF9;
$secondary-color-blue-light: #A3ADFF;
$secondary-color-grey: #8D8D8D;
$secondary-color-grey-light: #A0A0A0;
$secondary-color-orange: #FFAF12;

// Gradient colors 

/** TYPOGRAPHY **/